.text-name{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(62, 59, 59);
}
.text-title{
    font-size: 14px;
    font-weight: bold;
}
.form-thank{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}
.text-thank{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.form-name{
    display: flex;
    align-items: center; /* Căn giữa logo và tên theo chiều dọc */
    justify-content: center; /* Căn giữa phần tử theo chiều ngang */
    gap: 10px;
    margin: 40px 10px;
}
.logo-bill{
    width: 120px;
}
.logo-name{
    font-size: 24px;
    font-weight: bold;
    color: #eea287;
}
.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s ease;
}

.color-circle.selected {
    border: 5px solid #1890ff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.color-circle.trắng { background-color: #ffffff; border: 1px solid #d9d9d9; } /* Màu trắng cần border để nhìn rõ */
.color-circle.đen { background-color: #000000; }
.color-circle.xanh { background-color: #0000ff; }
.color-circle.đỏ { background-color: #ff0000; }

