* {
    font-family: 'Roboto', sans-serif;
}
.layout-admin {
    min-height: 100vh;
}
.sider-admin {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-admin {
    width: 90px;
    height: 20px;
}   
.main-layout {
    margin-left: 200px; /* Bù lại chiều rộng của Sider */
}
.header-admin {
    padding: 0;
    background: var(--colorBgContainer);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.content-admin {
    margin: 24px 16px 0;
}
.breadcrumb-admin {
    margin: 16px 0;
}
.content-box {
    padding: 24px;
    min-height: 360px;
    background: var(--color-bg-container);
    border-radius: var(--border-radius-lg);
}
.footer-admin {
    text-align: center;
    flex-shrink: 0;
}
  